<!--<div class="progressbar-positioner">
    <div class="progress-info">
        <div class="progress-info-left">
            <strong>2014 REVENUE GOAL</strong>
        </div>
        <div class="progress-info-right">
            <strong>1BN</strong> NOK
        </div>
    </div>
    <div class="progressbar-wrapper">
        <div class="progressbar-inner" ng-style="targetPercentageStyle">
            <div class="progressbar-inner-label">{{targetPercentage | number:0}}%</div>
        </div>
    </div>
</div>

<div class="info-box">
    <h2 class="total-sales">
        <small>Today's site revenue <span>(NOK)</span></small> 
        <span ng-show="todaysRevenue == 0">...</span>
        <span ng-hide="todaysRevenue == 0" ng-model="totalSalesText" count-to="{{todaysRevenue}}" value="{{lastTodaysRevenue}}" duration="4"></span>
    </h2>
    <h2>
        <small>Today's site visitors</small>
        <span ng-show="todaysRevenue == 0">...</span> 
        <span ng-hide="todaysRevenue == 0" count-to="{{visitors}}" value="{{lastVisitors}}" duration="60"></span>
    </h2>
    <h2>
        <small>Today's conversion rate</small>
        <span ng-show="todaysRevenue == 0">...</span> 
        <span ng-hide="todaysRevenue == 0">{{conversionRate | number:1}}%</span>
    </h2>
</div>-->

Heisann....


<div class="connection-spinner"><img src="/images/spinner.gif" alt=""><span>Reconnecting ..</span></div>

<div id='map'></div>